<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAAd6GbkHOO_vrUcvP9Mr_yduVC7edzvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>34297406703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>task-1-e5635</string>
	<key>STORAGE_BUCKET</key>
	<string>task-1-e5635.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34297406703:ios:1c292838301422ae8f671a</string>
	<key>DATABASE_URL</key>
	<string>https://task-1-e5635-default-rtdb.firebaseio.com</string>
</dict>
</plist>